.label--container {
    width: 80px;
    display:flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    opacity: 0.4;
}

.green {
    border: 5px solid green;
}
.red {
    border: 5px solid red;
}
.blue {
    border: 5px solid blue;
}
.logo {
    color: black;
    align-self: center;
}