.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    margin: 0 10px;
    font-size: 14px;
    color: #303748;
}


#social-media a{
    margin: 0 5px;
    font-size: 1.7rem;
    color: #303748;
}
@media only screen and (min-width: 728px) {
    #title{
        font-size: 20px;
    }
    #social-media a{
        font-size: 2.2rem;
    }
}
@media only screen and (min-width: 992px){
    #social-media a{
        cursor:pointer;
    }
    #social-media a:hover{
        color: #b3a9ff;
    }

}